<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
<body style="background-color: bisque;">
    
    <h1 style="color: black;">Register</h1>
    <form action="/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
</br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required>
</br>
    <input type="submit" value="Register">
</form>
<p>Already have an account? <a href="/login">Login here</a>.</p>
</body>
</html>