@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .anim-container {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #1d1d1f;
    min-height: 100vh;
    max-width: 100vw;
  }
  
  .loading-spinner {
    border: 4px solid whitesmoke;
    border-left: 4px solid #007BFF;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
  }
  

table {
    margin: 2rem auto;
    border-collapse: collapse;
    width: 95%;
}


tr {
    color: rgb(0, 0, 156);
    
    
}

th {
    border-bottom: 2px solid gray;
    padding: 0.5rem 0 0.5rem 0.3rem;
    color: whitesmoke;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

td {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    padding: 1rem;
}

.Easy {
    color: lawngreen;
    font-weight: 400;
}
.Medium {
    color: rgb(255, 166, 0);
    font-weight: 400;
}
.Hard {
    color: red;
    font-weight: 400;
}
.links{
    color: whitesmoke;
}