#problempage {
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    align-items: flex-start;
    background-color: #1d1d1f;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .anim-container {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #1d1d1f;
    min-height: 100vh;
    max-width: 100vw;
  }
  
  .loading-spinner {
    border: 4px solid whitesmoke;
    border-left: 4px solid #007BFF;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 1s linear infinite;
  }
.ques , .code {
    width: 50%;
    min-height: 100vh;
    max-width: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}

.code-form {
    height: 70vh;
    max-width: 95%;
}
.example{
    font-size: larger;
}
textarea , pre {
    background-color: #1d1d1f;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-size: 1.3rem;
    -moz-tab-size : 4;
      -o-tab-size : 4;
         tab-size : 4;
         
}

button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    font-weight: 800;
    border-radius: 0.5rem;
    cursor: pointer;
}

#test {
    background-color: gray;
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;;
}
#submit {
    background-color: rgb(68, 207, 68);
    font-family: 'Roboto', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}